body {
	background-color: silver;
}
#container {
	width: 960px;
	margin: 20px auto;
	background-color: white;
}
header {
	margin-bottom: 10px;
	padding: 0px 0px;
}
header .wallpaper {
	height: 250px;
	background: url(assets/header.jpg) no-repeat left top;
}
header .head {
	padding: 10px;
	border-top: 2px solid gray;
}
header .nav {
	background-color: #BDD2FF;
}
footer {
	margin-top: 5px;
	text-align: center;
	padding: 1px;
}
#left {
	width: 200px;
	float: left;
	margin-left: -760px;
}
#right {
	width: 200px;
	float: left;
}
#content {
	float: left;
	width: 560px;
	margin-left: 200px;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul ul {
	margin-left: 20px;
}
.x-pages-menu ul {
	display: none;
}
.x-pages-menu ul.x-contains-selected-list, .x-pages-menu ul.x-selected-list {
	display: inherit;
}
.x-pages-menu a {
	color: black;
	text-decoration: none;
}
.x-pages-menu a:hover {
	text-decoration: underline;
}

.x-pages-menu a.x-selected {
	font-weight: bold;
}

.x-pages-menu a.x-contains-selected {
	font-style: italic;
}

.x-pages-hmenu a.x-selected {
	font-weight: bold;
}

.x-pages-hmenu a.x-contains-selected {
	font-style: italic;
}
.x-pages-hmenu {
	margin-bottom: 0px;
}
.x-pages-hmenu a {
	border-left: 0;
}