<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>{{ application.get_title }}</title>
  <meta name="description" content="{{ application.get_description }}" />

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <link rel="stylesheet" href="{{ STATIC_URL }}xadrpy/extjsapp/resources/css/ext-all.css" />
  {% if appcss %}
  <link rel="stylesheet" href="{{ STATIC_URL }}{{ appcss }}" />
  {% endif %}
  
  <script type="text/javascript">
  	STATIC_URL = "{{ STATIC_URL }}";
  	MEDIA_URL = "{{ MEDIA_URL }}";
  	CSRF_TOKEN = "{{ csrf_token }}";
  </script>

  <script type="text/javascript" src="{{ STATIC_URL }}xadrpy/extjsapp/libs/json2.js"></script>
  {% if debug %}
  <script type="text/javascript" src="{{ STATIC_URL }}xadrpy/extjsapp/ext-debug.js"></script>
  {% else%}
  <script type="text/javascript" src="{{ STATIC_URL }}xadrpy/extjsapp/ext.js"></script>
  {% endif %}
  <script type="text/javascript" src="{{ STATIC_URL }}xadrpy/extjsapp/init.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}{{ appjs }}"></script>
</head>

<body class="{{ application.get_body_class }}">
   <div id="main" role="main">
   </div>
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
