include LICENSE
include AUTHORS
include CHANGELOG
include README.rst
include src/xadrpy/VERSION
include MANIFEST.in

recursive-include src *.html

recursive-include src *.js

recursive-include src *.css

recursive-include src *.jpg
recursive-include src *.png
recursive-include src *.gif
recursive-include src *.swf

recursive-include src *.xml
recursive-include src *.json
recursive-include src *.yml
recursive-include src *.txt

recursive-include src *.mo
recursive-include src *.po

global-exclude *.pyc
