{% extends "html5/base.html" %}

{% load pages_tags prefs %}

{% block meta-title %}{% prefs key='meta_title' site=0 %}{% endblock %}

{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ STATIC_URL }}xadrpy/pages/default.css" />
{% endblock %}


{% block header %}
<div class="head"><h1>{% prefs key='page_title' site=0 %}</h1></div>
<div class="wallpaper">
</div>
<div class="nav">
{% plugin 'x-hmenu' 'header' %}
<div class="clear"></div>
</div>
{% endblock %}

{% block main %}
	<div id="content">{% block content %}{% endblock %}</div>
	<div id="left">{% block left %}{% endblock %}</div>
	<div id="right">{% block right %}
		{% plugin 'x-menu' 'rightmenu' %}
	{% endblock %}</div>
{% endblock %}