{% extends request.theme.get_base_html %}

{% load pages_tags prefs %}

{% block meta-title %}{% prefs key='meta_title' %}{% endblock %}

{% block h1 %}<a href="/">{% prefs key='page_title' %}</a>{% endblock %}
{% block mainmenu %}{% plugin 'x-hmenu' 'header' %}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block header %}
<div class="head"><h1>{% prefs key='page_title' %}</h1></div>
<div class="wallpaper">
</div>
<div class="nav">
{% plugin 'x-hmenu' 'header' %}
<div class="clear"></div>
</div>
{% endblock %}

{% block main %}
	<div id="content">{% block content %}{% endblock %}</div>
	<div id="left">{% block left %}{% endblock %}</div>
	<div id="right">{% block right %}
		{% plugin 'x-menu' 'rightmenu' %}
	{% endblock %}</div>
{% endblock %}