.x-toolbar-wrapper-absolute {
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 9999;
}
html {
	margin-top: 30px;
}

.x-toolbar {
	height: 30px;
	background-color: black;
	border-radius: 2px;
	line-height: 30px;
	color: white;
	font-style: normal;
	font-family: "Arial";
	font-size: 12px;
	padding: 0px 10px;
}
.x-toolbar-title {
	float: left;
	font-weight: bold;
	font-size: 14px;
	margin-right: 10px;
}
.x-toolbar-left {
	float: left;
}
.x-toolbar-right {
	float: right;
}

.x-toolbar-menu, .x-toolbar-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.x-toolbar-menu {
	line-height:	1.0;
}
.x-toolbar-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.x-toolbar-menu ul li {
	width:			100%;
}
.x-toolbar-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.x-toolbar-menu li {
	float:			left;
	position:		relative;
}
.x-toolbar-menu a {
	display:		block;
	position:		relative;
	color: white;
	line-height: 30px;
	padding: 0px 10px;
}
.x-toolbar-menu li:hover ul,
.x-toolbar-menu li.sfHover ul {
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
.x-toolbar-right.x-toolbar-menu li:hover ul,
.x-toolbar-right.x-toolbar-menu li.sfHover ul {
	right:			-8px;
}
.x-toolbar-left.x-toolbar-menu li:hover ul,
.x-toolbar-left.x-toolbar-menu li.sfHover ul {
	left:			0px;
}


ul.x-toolbar-menu li:hover li ul,
ul.x-toolbar-menu li.sfHover li ul {
	top:			-999em;
}
ul.x-toolbar-menu li li:hover ul,
ul.x-toolbar-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.x-toolbar-menu li li:hover li ul,
ul.x-toolbar-menu li li.sfHover li ul {
	top:			-999em;
}
ul.x-toolbar-menu li li li:hover ul,
ul.x-toolbar-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

.x-toolbar-menu {
	/* float:			left; */
}
.x-toolbar-menu a {
	text-decoration:none;
}
.x-toolbar-menu a, .x-toolbar-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	/* color:			#13a; */
}
.x-toolbar-menu li {
	background: #000;
	/* background:		#BDD2FF; */
}
.x-toolbar-menu li li {
	/* background:		#AABDE6; */
}
.x-toolbar-menu li li li {
	/* background:		#9AAEDB; */
}
.x-toolbar-menu li:hover, .x-toolbar-menu li.sfHover,
.x-toolbar-menu a:focus, .x-toolbar-menu a:hover, .x-toolbar-menu a:active {
	/* background:		#CFDEFF; */
	background: #550;
	outline:		0;
}

/*** arrows **/
.x-toolbar-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('assets/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.x-toolbar-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.x-toolbar-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.x-toolbar-menu ul a:focus > .sf-sub-indicator,
.x-toolbar-menu ul a:hover > .sf-sub-indicator,
.x-toolbar-menu ul a:active > .sf-sub-indicator,
.x-toolbar-menu ul li:hover > a > .sf-sub-indicator,
.x-toolbar-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}
