.icon-user {background-image: url('icons/user.png');}
.icon-users {background-image: url('icons/users.png');}
.icon-settings {background-image: url('icons/settings.png');}
.icon-language-chooser {background-image: url('icons/language-chooser.png');}
.icon-hu {background-image: url('icons/hu.png');}
.icon-gb {background-image: url('icons/gb.png');}
.icon-logout {background-image: url('icons/logout.png');}
.icon-change-password {background-image: url('icons/change-password.png');}
.icon-edit {background-image: url('icons/edit.png');}
.icon-add {background-image: url('icons/add.png');}
.icon-delete {background-image: url('icons/delete.png');}
.icon-cancel {background-image: url('icons/cancel.png');}
.icon-save {background-image: url('icons/save.png');}
.icon-print {background-image: url('icons/print.png');}
.icon-search {background-image: url('icons/search.png');}
.icon-accept {background-image: url('icons/accept.png');}
.icon-success {background-image: url('icons/accept.png');}
.icon-detail {background-image: url('icons/detail.png');}
.icon-form {background-image: url('icons/form.png');}
.icon-list {background-image: url('icons/list.png');}
.icon-report {background-image: url('icons/report.png');}
.icon-table {background-image: url('icons/table.png');}
.icon-refresh {background-image: url('icons/refresh.png');}
.icon-log {background-image: url('icons/log.png');}
.icon-lock-edit {background-image: url('icons/lock-edit.png');}
